<!-- Appointment body section -->
<div class="appointment border_element">
    <div class="appointment_body">
        <div class="appointment_header">
            <p1><%=procedure.name%></p1>
            <p2 class="time_price"><%=procedure.duration%> minutes @ €<%=procedure.price%>.00</p2>
            <button class="bubbly-button" id="book_btn">BOOK</button>
        </div>
        <div class="appointment_description">
            <span><%=procedure.description%></span>
        </div>
        <!-- Modal section -->
        <div id="book_modal" class="modal">
            <div class="modal_book_content border_round">
                <button class="x" id="close_modal">&times;</button>
                <div class="modal_book_header">
                    <h1>Your appointment:</h1>
                </div>
                <%- include('../partials/modal_book_body.ejs', {procedure:procedure, additional:additional}) %>
            </div>
        </div>
    </div>
</div>