<div class="modal_book_body">
    <!-- info block for chosen appointent -->
    <div class="appointment_info border_element">
        <p1 class="passenger">Passenger 1</p1>
        <div class="desc_appointment">
            <p1><%=procedure.name%>*</p1>
            <p2 class="time_price"><%=procedure.duration%> minutes @ <%=procedure.price%>.00</p2>
            <span class="appointment_description slide_down"><%=procedure.description%></span>
        </div>
        <button class="bubbly-button options_button" id="open_options_1">Add options</button>
        <!-- additional options -->
        <div class="options_container border_element">
            <div class="options_grid">
                <% 
                    for(let i = 0; i < additional.length; i++) { 
                %>
                <div class="option">
                    <input type="checkbox" id="<%=additional[i].id %>" name="option_checkbox_1">
                    <label>
                        <span class="option_name"><%=additional[i].name %>: <%=additional[i].description %></span>
                        <span class="time_price">+<%=additional[i].duration %> minutes @ <%=additional[i].price %>.00 </span>
                    </label>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>